# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS database files
Thumbs.db
desktop.ini
.DS_Store

# Log files
*.log

# Scratch/Local files
/find_files.py
/find_files_by_name.py
/search_text.py
/scratch/
